.todo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input {
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    margin: 7px;
    font-weight: bold;
}

.btn {
    font-size: 18px;
    cursor: pointer;
    color: rgb(253, 240, 222);
    background-color: black;
    font-weight: bold;

  

}


